################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Transporte y Mensajeria/.vs/Transporte y Mensajeria
/Transporte y Mensajeria/Consola/obj/Debug
/Transporte y Mensajeria/EntidadesDelProyecto/bin/Debug
/Transporte y Mensajeria/EntidadesDelProyecto/obj/Debug
/Transporte y Mensajeria/AccesoADatos/obj/Debug
/Transporte y Mensajeria/UI WPF/bin/Debug
/Transporte y Mensajeria/UI WPF/obj/Debug
